<div class="container-fluid">
    <h2>Registration Form</h2>
    <form>
        <div class="form-group my-2">
            <!-- username -->
            <label>Username</label>
            <input type="text" class="form-control">
        </div>



        <!-- password -->
        <div class="form-group my-2">
            <label for="">Password</label>
            <input type="password" class="form-control">
        </div>

        <!-- confirm password -->
        <div class="form-group my-2">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control">
        </div>

        <!-- btn register -->
        <button class="btn btn-primary" type="=submit">Register</button>
    </form>
</div>